.pane {
  width: 100%;
  padding: 15px;
  background-color: aliceblue;
  border: 1px solid #282c34;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #333;
  .temp{
    position: absolute;
    margin-top: 3px;
  }
  table {
    td, th {
      width: 25%;
    }
  }
}